body{
    font-family: verdana, Arial !important;
    text-shadow: 0px 0px transparent !important;
}

.BG{
    background-image: url(Images/loginBG.jpg);
    /* Author: Photogeider Nov 9 2016. Retrieved from: https://pixabay.com/en/motocross-love-sport-sunset-kiss-1801385/ */
    background-size:cover;
    background-repeat: no-repeat;
}

.homeBG{
    background-color: white !important;
}

h1{
    text-align: center;
    color: white;
}

.loginButton {
    width: 150px !important;
    height: 40px !important;
    background-color: transparent !important; 
    color: deepskyblue !important;
    text-shadow: 0px 0px deepskyblue !important;
    border: transparent !important;
    font-family: verdana, Arial !important;
    margin:auto;
    display:block;
    box-shadow: 0px 0px !important;
}

.loginForm{
    max-width: 300px !important;
    margin:auto;
    display:block;
} 

.loginField{
        background-color: !important;
}


/* Home Page */

.logout{
    width: 150px !important;
    height: 40px !important;
    background-color: black!important; 
    color: white !important; 
    border: transparent !important;
    font-family: verdana, Arial !important;
    margin-top: 1%;
    margin-right: 1%;
    display:block;
    box-shadow: 0px 0px !important;
    float: right;
}

.search{
    max-width: 300px !important;
    margin:auto;
    display:block;
    }

.header{
    text-align: center;
    color: black;
}

